@font-face{
    font-family: "NYTKarnakCondensed";
    src: url("https://db.onlinewebfonts.com/t/4789cf828c01b22acb9b2b73ee91aa0d.eot");
    src: url("https://db.onlinewebfonts.com/t/4789cf828c01b22acb9b2b73ee91aa0d.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/4789cf828c01b22acb9b2b73ee91aa0d.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/4789cf828c01b22acb9b2b73ee91aa0d.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/4789cf828c01b22acb9b2b73ee91aa0d.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/4789cf828c01b22acb9b2b73ee91aa0d.svg#NYTKarnakCondensed")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

:root {
    --black: #121213;
    --gray: #3a3a3c;
    --green: #538d4e;
    --yellow: #e4a81d;
    --light-gray: #818384;
    --white: #ffffff;
    --soft-blue: #92dff0;
}

body {
    background: var(--black);
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    margin-bottom: 10px;
    border-bottom: 1px solid var(--gray);
    justify-content: center;
    display: flex;
    flex-direction: row;
    position: relative;
    min-height: 70px;

    & h1 {
        font-family: "NYTKarnakCondensed";
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
    }

    & div {
        display: flex;
        right: 2%;
        position: absolute;
        gap: 10px;

        & .statistics-button {
            width: 30px;
            height: 30px;
            background-image: url('./icons/chart-bar-solid.svg');
            background-repeat: no-repeat;
            background-color: transparent;
            border: none;
            margin-top: 25px;
        }
        
        & .reset-button {
            width: 30px;
            height: 30px;
            background-image: url('./icons/redo-solid.svg');
            background-repeat: no-repeat;
            background-color: transparent;
            border: none;
            margin-top: 25px;
        }
    }
}

@media (height >= 768px) {
    header {
        margin-bottom: 50px;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* This is when a letter is active */
@keyframes pulse {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

/* This is for flipping a letter */
@keyframes rotate {
    0% {
        transform: rotateX(0)
    }

    45% {
        transform: rotateX(90deg)
    }

    55% {
        transform: rotateX(90deg)
    }

    100% {
        transform: rotateX(0)
    }
}

@keyframes up-down {
    0% {
        transform: translateY(20px);
    }

    50% {
        transform: translateY(-20px);
    }
}

.matrix {
    display: grid;
    place-items: center;
    gap: 5px;

    & .row {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 5px;  
        
        & .square {
            display: flex;
            width: 60px;
            height: 60px;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            border: 0.5px solid var(--gray);
            font-size: 1.75em;
        }

        @media (max-width: 768px) {
            & .square {
                width: 50px;
                height: 50px;
            }
        }

        & .active {
            border: 1px solid var(--soft-blue) !important;
            animation: pulse 0.2s ease-in;   
        }

        & .filled {
            animation: rotate 1.5s ease forwards;
        }

        & .completed {
            animation: up-down 1.5s ease forwards;
        }
    }
}

.keyboard {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;

    & .keyboard-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 5px;
        justify-content: center; 
        
        & .key {
            width: 45px;
            height: 55px;
            font-size: 1.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--light-gray);
            border-radius: 5px;
            cursor: pointer;
            
            &:hover {
                background-color: var(--soft-blue);
            }
        } 

        @media (max-width: 768px) {
            & .key {
                width: 2.5rem;
                height: 3.5rem;
            }
        }

        @media (max-width: 400px) {
            & .key {
                width: 28px;
                height: 50px;
            }
        }

        & .special {
            width: auto;
            padding: 0 10px;
        }

        & .delete {
            background-image: url(./icons/delete-left-solid.svg);
            background-size: 30px;
            color: transparent;
            background-repeat: no-repeat;
            background-position: 10px;
        }
    }
}

.correct {
    background-color: var(--green) !important;
    border: none !important;
}

.incorrect {
    background-color: var(--yellow) !important;
    border: none !important;
}

.lack {
    background-color: var(--gray) !important;
    border: none !important;
}

.word, .not-enough, .not-list {
    display: none;
    position: fixed;
    border-radius: 4px;
    background: var(--white);
    color: var(--black);
    width: fit-content;
    height: fit-content;
    padding: 10px;
    z-index: 2;
}

.word {
    top: 20vh;
}

.not-enough, .not-list {
    top: 15vh;
}

.distribution-information-modal {
    background-color: rgba(0,0,0, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    flex-direction: column;
    align-items: center;
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 50px;

    & h3 {
        font-family: "NYTKarnakCondensed";
        font-weight: 100;
    } 

    & .close-button {
        margin-inline-start: auto;
        margin-right: 30px;
        background-image: url('./icons/close-x.svg');
        background-color: transparent;
        width: 30px;
        height: 30px;
        color: var(--white);
        border: none;
    }

    & dl {
        max-width: 80%;
    }

    & .term {
        font-size: 1.25em;
    }

    & .definition {
        text-wrap: pretty;
        text-align: justify;
    }

    & .information-row {
        display: flex;
        flex-direction: row;
        gap: 12px;

        & .information {
            width: 25%;
            text-align: center;

            & .value {
                font-size: 3em;
                margin: 0;
            }

            & .information-text {
                font-size: 0.80em;
            }
        }
    }
}
